body, html {
    padding: 0;
    margin: 0;
    height: 100%;  (/*)<- Esse height é usado para as imagens cobrirem a tela inteira, pois por padrão, o navegador define uma altura mínima para o html e o body, apenas o suficiente para acomodar o necessário.(*/)
}

h2 {
    font-family: monospace; (/*)Fonte(*/)

}

#barradenav {
    list-style: none;
    padding: 0px;
}

#barradenav li {
    display: inline;
    padding: 80px;
}

#barradenav li a {
    font-family: monospace;
    color: black;
	text-decoration: none;
	font-size: 20px;
	display: inline-block;
}

.titulo {
    font-size: 65px;
    font-family: "Playfair Display", serif;
    color: white;
    text-shadow: -1px 1px 2px #000,
				  1px 2px 6px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
    position: absolute;
    top: 240px;
    right: 560px;
    padding: 0px;
    margin: 0px;
}

.cabecalho {
    background-color: grey;
    margin: 0;
    padding: 20px;
}

.imagemdeumjeitodiferente {
    background-image: url("https://www.estadao.com.br/resizer/pscBaky392Mx1osGIaxg_j8T3z4=/1292x633/filters:format(jpg):quality(80)/cloudfront-us-east-1.images.arcpublishing.com/estadao/GBXNIRMHTFHHXATMX4YERPHM5Y.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    opacity: 0.8;
    height: 400px;
    width: 200.1vh; (/*)O 'vh' é, nesse caso, usado para ter essa largura, definir ela e, independente das configurações ou do monitor, a imagem não se mexerá.(*/)
    
}

